.main {
  width: 100%;
  text-align: center;
  h2 {
    font-weight: 300;
  }
  input {
    width: 50%;
    height: 50px;
    font-size: 2em;
  }
  button {
    display: block;
    width: 50%;
    padding: .5em;
    margin: .5em auto;
    font-size: 2em;
    background-color: transparent;
    color: tomato;
    border: 1px solid tomato;
    &:hover {
      background-color: tomato;
      color: white;
      cursor: pointer;
    }
  }
}
