.app {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: 'Lato', serif;
  header {
    background: lighten(steelblue, 20%);
    color: white;
    display: flex;
    flex: 1 100%;
    flex-flow: row-wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    h1 {
      font-weight: 300;
    }
  }
  & > div {
    flex: 1 auto;
  }
}
